<footer class="footer">
    <div class="footer_container">
        <div class="footer_menu">
            <ul class="footer_list">
                <li class="footer_item"><a href="/masters.html">мастера</a></li>
                    <li class="footer_item"><a href="/services.html">услуги</a></li>
                    <li class="footer_item"><a href="/contacts.html">контакты</a></li>
                <li class="footer_item">телеграм</li>
                <li class="footer_item">инстаграм</li>
            </ul>
        </div>
        <div class="footer_under">© мнём и тянем, 2022.</div>
    </div>
</footer>
