
.corporate_container {
    background-color: #bbbcb6;
    display: flex;
    flex-wrap: wrap;
}

.zxcqwe {
    background-color: #bbbcb6;
}

.corporate {
    margin-top: 6em;
    margin-bottom: 3em;
    max-width: 760px;
    // width: 40%;
}

.corporate_title {
    color: #383836;
    font-size: 42px;
    line-height: 1.23;
    font-weight: 750;
    margin-bottom: 1em;
}

.corporate_info {
    opacity: 0.7;
    font-family: 'GraphikTT', Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
}