* {
    // background-color: #e9e8e6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    // background-color: #f9f9f9;
    background-color: #e9e8e6;
    // min-height: 100vh;
}

ul, ol {
    list-style: none;
    padding-left: 0; // дополнительно убираем отступ слева
  }

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.header_container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}