@media (max-width: 768px) {
    .mobile-menu-btn {
        display: block;
    }
    
    .header-content {
        justify-content: space-between;
    }

    nav {
        position: fixed;
        top: 70px;
        left: -100%;
        width: 80%;
        height: calc(100vh - 70px);
        background-color: #fff;
        box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
        transition: left 0.3s;
        z-index: 99;
    }
    
    nav.active {
        left: 0;
    }
    
    nav ul {
        flex-direction: column;
        padding: 20px;
    }
    
    nav ul li {
        margin: 15px 0;
    }
}

@media (max-width: 768px) {
    .footer_container {
        flex-direction: column;
        gap: 20px;
      
      
    }
    .footer_list {
        flex-direction: row;
        flex-wrap: wrap;
      }
  }